@model RegnumStore.Models.RegisterModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/_LayoutExtended.cshtml";
    ViewBag.Robots = "nofollow, noindex";   
}
<div class="page wrapper">
       <div id="crumbs">
        <ul class="exbreadcumb">
            <li>@Html.ActionLink("Главная","Portfolio","Home")</li>
            <li>@Html.ActionLink("Личный кабинет","UserInfo","Account")</li>
            <li class="active">@Html.ActionLink("Изменение пароля","ChangePassword","Account")</li>
        </ul>
    </div>
    <div class="auth-form">
        <section id="loginForm">
            <h1>Изменение пароля</h1>
            @using (Html.BeginForm()) {
                
                
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.IsActivated)
                @Html.HiddenFor(model => model.Login)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.Phone)
                @Html.HiddenFor(model => model.UserName)
                @Html.HiddenFor(model => model.PasswordSalt)

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="accountLeft">
                
                    @*<td>@Html.Label("Введите существующий пароль")</td>*@
                    <p>@Html.PasswordFor(m => m.OldPassword, new {@placeholder = Html.DisplayNameFor(x=>x.OldPassword)})</p>
                    @*<td>@Html.ValidationMessageFor(m => m.OldPassword)</td>*@
                        
                    @*<td>@Html.Label("Введите новый пароль")</td>*@
                    <p>@Html.PasswordFor(m => m.Password, new {@placeholder = Html.DisplayNameFor(x=>x.Password)})</p>
                    @*<td>@Html.ValidationMessageFor(m => m.Password)</td>*@
                        
                    @*<td>@Html.Label("Повторите введенный пароль")</td>*@
                    <p>@Html.PasswordFor(m => m.ConfirmPassword, new {@placeholder = Html.DisplayNameFor(x=>x.ConfirmPassword)})</p>
                    @*<td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>*@
                
                    <p><input type="submit" value="Изменить" /></p>
                </div>
                
                <div class="accountLeft"></div>
                
            }
        </section>
        
    </div>

</div>
  
  
  
  
  
  
