@model Domain.Entities.User
@{
    ViewBag.Title = "Выполнить вход";
    Layout = "~/Views/Shared/_LayoutExtended.cshtml";
    ViewBag.Robots = "nofollow, noindex";   
}

<div class="page wrapper">
        <div id="crumbs">
        <ul class="exbreadcumb">
            <li>@Html.ActionLink("Главная","Portfolio","Home")</li>
            <li>@Html.ActionLink("Авторизация","Login","Account")</li>
            <li class="active">@Html.ActionLink("Восстановление пароля","ForgottenPassword","Account")</li>
        </ul>
    </div>
    <div class="auth-form">
        <section id="loginForm">
            <h1>Восстановление пароля</h1>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="accountLeft">
                    @*<td> @Html.LabelFor(m => m.Email)</td>*@
                    <p>@Html.TextBoxFor(m => m.Email, new {@placeholder = Html.DisplayNameFor(x=>x.Email)})</p>
                    @*<td>@Html.ValidationMessageFor(m => m.Email)</td>*@
                    
                </div>
                <div class="accountRight">
                    <p><input type="submit" value="Отправить" /></p>
                </div>
            }
        </section>
        
    </div>

</div>