<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        @*<title>Ada Ocean / Контакты</title>*@
        <meta name="keywords" content="@ViewBag.Keywords"/>
        <meta name="description" content="@ViewBag.Snippet"/>
        <meta name="robots" content="@ViewBag.Robots" />
        <title>@ViewBag.Title</title>     
        <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")"/>



        @if (HttpContext.Current.IsDebuggingEnabled)
        {
            <link href="@Url.Content("~/Content/css/fonts.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/font-lightcase.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/lightcase.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/lightcase-max-640.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/lightcase-min-641.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" type="text/css" />
        }
        else
        {
       
            <link href="@Url.Content("~/Content/css/part1.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/lightcase.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/part2.min.css")" rel="stylesheet" type="text/css" />
            @*<link href="@Url.Content("~/Content/admAdditional.min.css")" rel="stylesheet" type="text/css" />*@
        }


        @*<link href="@Url.Content("~/Content/css/fonts.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/font-lightcase.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/lightcase.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/lightcase-max-640.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/lightcase-min-641.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" type="text/css" />*@

    </head>
    <body>
        
        
             @if (HttpContext.Current.IsDebuggingEnabled)
        {
            <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
                 <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.backstretch.min.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/wookmark.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.events.touch.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/lightcase.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.flex.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/scripts.js")"></script>
        }
        else{
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/engine.min.js")"></script>
                 <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
                 
        }
     
     
     

        <div class="header clearfix">
            <div class="wrapper logo">
        
                <a href="@Url.Action("Index","Home")" title="На главную" rel="follow, index">
                    <img src="@Url.Content("~/Content/images/logotypeColor.png")" alt="Ada Ocean" />
                </a>

                <h2 class="phone">(926) 713-88-36</h2>
            </div>
        </div>
        <div class="button-menu"></div>
        <div class="mobile-menu">
            <ul>
                @{
                    Html.RenderAction("Menu", "Nav", new {type = "mobile"});
                }
            </ul>
        
        
  
        </div>
        <div id="nav-bar">
            <div class="navigation">

                @*<noscript>
                    <a href=@Url.Action("Login", "Account") class="showcase link " data-rel="lightcase" data-height="280" rel="nofollow, noindex">Войти Nojs</a>

                    <style type="text/css">
                        #jsenabled { display: none; }
                    </style>
                </noscript>

                <a href=@Url.Action("LoginUser", "Account") class="showcase link" id="jsenabled" data-rel="lightcase" data-height="280" rel="nofollow, noindex">Войти JS</a>*@


              

                @*@Ajax.ActionLink("Войти", "Login", "Account", null, new AjaxOptions()
                        {
                            UpdateTargetId = "",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            OnFailure = "alert('Что-то пошло не так..')",
                          //  OnSuccess = "alert('Изображения всех номерных знаков были перегенерированы!')"

                        }, new { @class = "showcase link", @data_rel="lightcase", @data_height="280"  })*@
                
    






                <div class="wrapper">

                    @{
                        Html.RenderAction("Menu", "Nav");
                    }

                </div>
            </div>
            <div class="navigation-portfolio">
                <div class="wrapper">
                </div>
            </div>
        </div>

     
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
     
     

        <div class="over-modal"><div class="close"></div></div> 

   
     
 
    </body>


</html>

<script>

    //$('#lightcase-overlay').change(function (event) {
    //    //event.PreventDefault();
    //    alert("Good");
    //    //$(this).val(($(this).val() + 1) % 2);
    //});

    

    //$("#myDiv").on("remove", function () {
    //    alert("Element was removed");
    //})
</script>
@*
<script>
        $('.submit_rev').click(function () {

            $('#load').show();
            var name = $('#Tittle').val();
            var mes = $('#Text').val();
            var comment = new Object();
            comment.Tittle = name;
            comment.Text = mes;



            $.post(
                'SendComment',
                comment,
                function (data) {
                    
                    if (data.success == 'true') {
                        $(".wrappAdd").css("display", "none");
                        $("a.lightcase-icon-close").click();
                        parent.$("a.lightcase-icon-close").trigger("click");
                    } else {
                        //alert('Данные заполнены некорректно'+ ': ' + data.message);
                        $("#result").text("");
                        $("#result").css('display', 'block');
                        $("#result").append('<ul>');
                        for (var i = 0; i < data.message.length; i++) {
                            if (data.message[i]!="") {
                                //alert(data.message[i]);
                                $("#result").append('<li style="color: red">' + data.message[i] + '</li>');
                            }
                        }
                        $("#result").append('</ul>');
                    }
                    $('#load').hide();
                });

            return false;
        });
        
*@

