<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Студия фотографии</title>
        <meta name="description" content="Профессиональный съемка праздников. Фотосессии. Фотограф на свадьбу и любой праздник. Выезды на дом и съемки в студии" />
        <meta name="keywords" content="Профессиональный фотограф, Фотосессии, съемка праздников, Фотограф на свадьбу, Съемки в студии, фотограф, профессионал, ada, ocean" />
  
        @if (HttpContext.Current.IsDebuggingEnabled)
        {
            <link href="@Url.Content("~/Content/css/fonts.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/font-lightcase.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/lightcase.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/lightcase-max-640.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/lightcase-min-641.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" type="text/css" />
        }
        else
        {
       
            <link href="@Url.Content("~/Content/css/part1.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/lightcase.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/part2.min.css")" rel="stylesheet" type="text/css" />
            @*<link href="@Url.Content("~/Content/admAdditional.min.css")" rel="stylesheet" type="text/css" />*@
        }

    </head>
    <body>

          <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>


       @if (HttpContext.Current.IsDebuggingEnabled)
        {
            <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.backstretch.min.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/wookmark.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.events.touch.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/lightcase.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.flex.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/scripts.js")"></script>
        }
        else{
            <script type="text/javascript" src="@Url.Content("~/Scripts/js/engine.min.js")"></script>
        }


    <script>
            
        //var backs = ['back01.jpg', 'back02.jpg', 'back03.jpg', 'back04.jpg', 'back05.jpg', 'back06.jpg'];
        //$.backstretch(backs[Math.floor(Math.random * backs.length)], { speed: 1000 });


        //$.backstretch("Content/img/image1421432197.jpg");
        

       
        @*$.post("@Url.Action("ImageGalery", "Home")",
                 function (data) {

                     if (screen.width<480) {
                         data = data[0];
                     }
                     $.backstretch(data,
                         {
                             fade: 750,
                             duration: 4000
                         });
                 });*@

        $(document).ready(function() {

            if (screen.width>600) {
                $.backstretch(["Content/images/error3.png", "Content/images/error4.jpg", "Content/images/error5.jpg", "Content/images/error1.jpg"],
                {
                    fade: 750,
                    duration: 4000
                });
            }
            
        });
        //$.backstretch(["Content/imgtmp/Image31.jpg", "Content/img/image1427541353.jpg", "Content/img/image1436114930.jpg", "Content/img/image1436964319.jpg"],
        //    {
        //        fade: 750,
        //        duration: 4000
        //    });


</script>

    </body>


</html>